<ion-view title="New Game">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Invite friends</h1>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
            <ion-toggle toggle-class="toggle-positive">Skip if guessed</ion-toggle>
            <label class="item item-input">
                <span class="input-label">Play up to</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
        <button class="button button-stable button-block ">Create!</button>
    </ion-content>
</ion-view>