<ion-view title="{{appName}}" hide-back-button="true">
    <ion-nav-buttons side="right">
        <a ng-if="auth.isAuthenticated" ui-sref="main" class="button">Main</a>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            </ion-list>
            <div>
                <p class="auth-error"></p>
            </div>
            <a ng-if="!auth.isAuthenticated" ng-click="login()" class="button button-stable button-block button-large">Log in</a>
            <div ng-if="auth.isAuthenticated">
                    <div class="list">
                        <div class="item-thumbnail-left">
                            <img ng-src={{profile.pic_url}}>
                            <span class="profile name">{{profile.name}}</span>
                            <br>
                            <span class="profile stats">{{appName}} player since {{profile.created_at | date:'mediumDate'}}</span>
                            <br>
                            <span class="profile stats">Games played: {{profile.games}}</span>
                        </div>
                    </div>
                    <a ng-click="logout()" class="button button-stable button-block button-large">Log out</a>
            </div>
        </form>
    </ion-content>
</ion-view>
