<ion-view title="Game" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button ng-click="back()" class="button buttons header-item">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <button ng-click="kickoff()" ng-disabled="game.players.length < 2" ng-if="!Game.started && Game.isCreator" class="button button-block button-royal">
      Kick this party off
    </button>
    <div ng-if="game.players.length < 2">You need at least one friend to join</div>
    <div ng-if="!Game.started && !Game.isCreator">Waiting to start the game...</div>
    <h4 class="topic" ng-bind="game.current_round.topic"></h4>
    <h4>Reader: <span ng-bind="game.current_round.reader_name"></h4>
    <h4 class="max-score">Game to: <span ng-bind="game.max_score"></h4>  
    <hr />
    <div class="list game-inputs">
      <div ng-if="!Game.isReader" class="response-field">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Response</span>
          <input ng-model="response" ng-disabled="!game.current_round.topic.length" ng-focus="typingResponse = true" ng-blur="typingResponse = false" type="text" placeholder="{{game.current_round.topic.length ? 'Be creative' : 'No topic yet'}}">
        </label>
        <button ng-disabled="!response.trim().length" ng-if="typingResponse || response.trim().length" class="button button-block button-balanced">
          Submit!
        </button>
      </div>
      <div ng-if="Game.isReader" class="topic-field">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Topic</span>
          <input ng-model="Game.topic" ng-focus="typingTopic = true" ng-blur="typingTopic = false" type="text" placeholder="Be creative">
        </label>
        <button ng-disabled="!Game.topic.trim().length" ng-if="typingTopic || Game.topic.trim().length" ng-click="submitTopic()" class="button button-block button-balanced">
          Submit!
        </button>
      </div>
    </div>

    <ul class="list card players">
      <ion-content overflow-scroll="true">
        <div class="item item-divider">
          Players
        </div>
        <ion-list>
          <li 
            class="item"
            ng-repeat="player in game.players"
          >
            {{player.full_name}} <span class="score">{{player.score}} points</span>
          </li>
        </ion-list>
      </ion-content>
    </ul> 

    <ul class="list card responses">
      <ion-content overflow-scroll="true">
        <div class="item item-divider">
          Responses
        </div>
        <ion-list>
          <li 
            class="item"
            ng-repeat="response in game.current_round.responses"
          >
            <div ng-if="game.current_round.ready">
              {{response.text}}
            </div>
            <div ng-if="!game.current_round.ready">
              ***REDACTED***
            </div>
          </li>
          <li 
            class="item"
            ng-if="!game.current_round.responses.length"
          >
            None yet...
          </li>
        </ion-list>
      </ion-content>

    </ul> 

  </ion-content>
</ion-view>