<ion-view title="Game" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button ng-click="back()" class="button buttons header-item">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <h4 class="topic" ng-bind="game.current_round.topic"></h4>
    <h4>Reader: <span ng-bind="game.current_round.reader"></h4>  
    <hr />
    <div class="list">
    <label class="item item-input">
        <span class="input-label">Response</span>
        <input type="text" placeholder="">
    </label>
    </div>

    <ul class="list card players">
      <ion-content overflow-scroll="true">
        <div class="item item-divider">
          Players
        </div>
        <ion-list>
          <li 
            class="item"
            ng-repeat="player in game.players"
          >
            {{player.full_name}}
          </li>
        </ion-list>
      </ion-content>
    </ul> 

    <ul class="list card responses">
      <ion-content overflow-scroll="true">
        <div class="item item-divider">
          Responses
        </div>
        <ion-list>
          <li 
            class="item"
            ng-repeat="response in game.current_round.responses"
          >
            <div ng-if="game.current_round.ready">
              {{response.text}}
            </div>
            <div ng-if="!game.current_round.ready">
              ***REDACTED***
            </div>
          </li>
          <li 
            class="item"
            ng-if="!game.current_round.responses.length"
          >
            Waiting...
          </li>
        </ion-list>
      </ion-content>

    </ul> 

  </ion-content>
</ion-view>