<ion-view title="New Game">
    <ion-content padding="true" class="has-header">
      <div class="list-card">
        <div class="item item-divider">
            Friends <span class="friends-count"></span>
        </div>
        <div class="friends-list item item-body">
          <ion-content>
              <ion-list>
                <ion-item fb-thumbnail ng-repeat="friend in friends | filter:search | orderBy:'name'" ng-click="toggleInvite(friend, $event)" ng-class="{inviting: inviting[friend.id]}" class="item-thumbnail-right">{{friend.name}}
                </ion-item>
              </ion-list>
          </ion-content>
        </div>
      </div>
      <ion-toggle toggle-class="toggle-dark" ng-model="rules.skipIfGuessed">Skip if guessed</ion-toggle>
      <label class="item item-input">
          <span class="input-label">Play up to</span>
          <input type="tel" ng-model="rules.maxScore" ng-change="restrictScore()" min="10" max="50">
      </label>
      <div ng-bind="error"></div>
      <button ng-disabled="error || isDisabled || !Utils.keys(inviting).length" ng-click="createGame()" class="button button-royal button-block ">Create!</button>
    </ion-content>
</ion-view>
