/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

//Color palette
$lighter-color: #718A8E;
$light-color: #4F6F75;
$primary-color: #385A60;
$dark-color: #234349;
$darker-color: #13373D;

$lighter-accent: #8AAF92;
$light-accent: #608F6A;
$primary-accent: #43764E;
$dark-accent: #295A34;
$darker-accent: #164B22;

$gray: #DDDDDD;
$dark-gray: darken($gray, 25%);

$font: "HelveticaNeue-Light";

*, *:after, *:before {
  font-family: $font;
}

.inviting {
  @extend .active;
}

.friends-list {
  min-height: 30vh;
  max-height: 50vh;
}

.invitations-list {
  max-height: 50vh;
}

img.empty {
  display: none;
}

/** MAIN **/

.invitations-list {
  max-height: 40vh;

  .timestamp {
    font-size: 0.6em;
    font-style: italic;
  }
}

.account {
  position: absolute;
  bottom: 0;
  left: 0;
}

/** NEW GAME **/
.friends-list {
  max-height: 40vh;
}

/** GAME **/

.platform-android {
  .buttons + .title.title-left.header-item {
    margin-left: 20px;
  }
}

.game-inputs {
  input[type="text"] {
    width: 95%;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 1.3em;
    height: 2em;
    line-height: 2em;

    &[disabled="disabled"] {
      background-color: white;
    }
  }
}

.round-count {
  text-align: right;
}

.topic {
  text-align: center;
  font-size: 1.2em;
}

.players {
  height: 25vh;
}

.responses {
  height: 25vh;
}

.score {
  float: right;
}

.guesser {
  text-align: center;
  background-color: $gray;
  font-size: 1.5em;
  border-radius: 5px;
  p {
    padding: 8px;
  }
}

.guessed {
  color: $dark-gray;
  .guessable {
    text-decoration: line-through;
  }
}

.guessable {
  .icon {
    margin-left: 20px;
  }
}

.players, .responses {
  .guessing {
    background-color: lighten($royal, 15%);
  }
  .activated {
    background-color: lighten($royal, 25%);
  }

}

.guesser {
  p:empty {
    height: 0px;
    margin: 0px;
    padding: 0px;
  }
}

.reader {
  text-align: center;
  color: $dark;
  background-color: $stable;
}

.alert {
  background-color: $energized;
}

/** PROFILE **/

.profile {
  color: $dark;
}
.name {
  float: top;
  font-size: 1.5em;
}
.stats {
  font-size: 0.9em;
}
