/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

//Color palette
$lighter-color: #718A8E;
$light-color: #4F6F75;
$primary-color: #385A60;
$dark-color: #234349;
$darker-color: #13373D;

$lighter-accent: #8AAF92;
$light-accent: #608F6A;
$primary-accent: #43764E;
$dark-accent: #295A34;
$darker-accent: #164B22;

$gray: #DDDDDD;

*, *:after, *:before {
}

ion-header-bar.bar.bar-stable {
  background-color: $light-color;
  border-color: $lighter-color;
  .title {
    color: black;
  }
}

.bar-header .button.header-item {
  color: black;
}

button.button.button-stable.button-block {
  border-color: $lighter-accent;
}

button.button-clear.button-block {
  color: white;
}

.pane, .view {
  background-color: $primary-color;
}

.inviting {
  @extend .active;
}

.friends-list {
  max-height: 50vh;
}

.invitations-list {
  max-height: 50vh;
}
