/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

//Color palette
$lighter-color: #718A8E;
$light-color: #4F6F75;
$primary-color: #385A60;
$dark-color: #234349;
$darker-color: #13373D;

$lighter-accent: #8AAF92;
$light-accent: #608F6A;
$primary-accent: #43764E;
$dark-accent: #295A34;
$darker-accent: #164B22;

$gray: #DDDDDD;
$dark-gray: darken($gray, 25%);

$font: "HelveticaNeue-Light";

*, *:after, *:before {
  font-family: $font;
}

.friends-list {
  min-height: 30vh;
  max-height: 50vh;
}

.invitations-list {
  max-height: 50vh;
}

img.empty {
  display: none;
}

.pane {
  background: $balanced;
}

.bar.bar-header {
  *, .title {
    color: $lightest;
  }
}

.button.button-energized {
  color: black;
}

.item {
  background-color: $balanced;
  border-color: $stabler;
  border-width: 1px;
  color: $lighter;
}

.item-divider {
  background: $stable;
  color: $lightest;
  font-weight: bold;
}

.list.card, .game-list {
  background: $stable;
  border: 0px solid $lightest!important;
}

hr {
  border-color: $stable;
  color: white;
  border-top-style: solid;
}

/** LOGIN **/
.button.button-stable:active {
  background: $stabler;
}

.button.button-energized:hover {
  color: black;
}

.login {
  margin-top: 30px!important;
}

/** MAIN **/

.invitations-list {
  max-height: 40vh;

  .timestamp {
    font-size: 0.6em;
    font-style: italic;
  }

  ion-item {
    background: $balanced;
  }
}

.account {
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-content {
  padding-top: 35px;
  .button {
    margin: 40px 0;
  }
}

.accept, .reject {
  &:active {
    background: $stabler;
  }
}

/** NEW GAME **/
.friends-list {
  max-height: 40vh;
  .inviting, .active, .activated {
    background: $balanceder;
    color: black;
  }
}

.rules, .rules .item .input-label {
  font-size: 1em;
  font-weight: normal!important;
  input {
    font-size: 1.3em;
    color: $stabler;
    text-align: right;
  }
}

.error {
  margin-top: 3px;
  text-align: center;
  color: $energized;
  font-weight: bold;
}

/** GAME **/

.platform-android {
  .buttons + .title.title-left.header-item {
    margin-left: 20px;
  }
}

$slide-dur: 0.5s;

.game-inputs {

  margin: 0;

  input[type="text"], textarea {
    width: 95%;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 1.3em;
    height: 2em;
    line-height: 2em;

    &[disabled="disabled"] {
      /*background-color: white;*/
    }
  }

  .button.ng-enter {
    -webkit-animate: slideInLeft $slide-dur;
    animation: slideInLeft $slide-dur;
  }
  .button.ng-leave {
    -webkit-animate: slideOutLeft $slide-dur;
    animation: slideOutLeft $slide-dur;
  }
}

.button-container {
  max-height: 0px;
  transition: max-height $slide-dur linear;
  -webkit-transition: max-height $slide-dur linear;
}

.button-container.has-button {
  max-height: 100px;
}

.input-label {
  color: $lighter;
  font-size: 1.3em;
  font-weight: bold;
}

.item-input {
  textarea {
    background-color: $balanced;
    color: $lighter;
  }
  textarea::placeholder {
    color: $lighter;
    opacity: 50%;
  };
  textarea::-webkit-input-placeholder {
   color: $lighter;
   opacity: 0.5;
  }

  textarea::-moz-placeholder { /* Firefox 18- */
     color: $lighter; 
     opacity: 0.5; 
  }

  textarea::-moz-placeholder {  /* Firefox 19+ */
     color: $lighter;  
     opacity: 0.5;
  }

  textarea::-ms-input-placeholder {  
     color: $lighter; 
     opacity: 0.5; 
  }

}

.kickoff:enabled {
  animation: shimmy 2s linear alternate infinite;
}

.round-count {
  text-align: right;
}

.players {
  height: 25vh;
}

.responses {
  height: 25vh;
}

.score {
  float: right;
}

.game-info {
  padding: 0 10px;
  background: $stable;
  .row {
    margin-top: -10px;
    margin-bottom: -10px;
  }
}

.guesser {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: $stable;
  font-size: 1.5em;
  border-radius: 5px;
  p {
    padding: 8px;
  }
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 75%;
}

.me-guessing {
  background-color: $energized;
}
.urgent-guessing {
  animation: flux 1s infinite alternate;
}

.urgent-reader {
  animation: shimmy 5s infinite alternate;
}

$rotate: 2.0deg;

@keyframes shimmy {
  0% {
    transform: rotate($rotate);
  }
  3% {
    transform: rotate(-$rotate);
  }
  6% {
    transform: rotate($rotate);
  }
  9% {
    transform: rotate(-$rotate);
  }
  12% {
    transform: rotate($rotate);
  }
  15% {
    transform: rotate(-$rotate);
  }
  18% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes flux {
  100% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@-webkit-keyframes flux {
  100% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.guess-instructions {
  padding: 0 10px;
  text-align: center;
  color: $stabler;
  font-weight: light;
}

.guessed {
  color: $dark-gray;
  .guessable {
    text-decoration: line-through;
  }
}

.guessable {
  .icon {
    margin-left: 20px;
  }
}

.players, .responses {
  .guessing, .activated {
    background-color: $balanceder;
    color: $dark;
  }
  margin-top: 0px;
}

.list-head {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.guesser {
  p:empty {
    height: 0px;
    margin: 0px;
    padding: 0px;
  }
}

.reader {
  text-align: center;
  color: $dark;
  background-color: $stable;
}

.alert {
  background-color: $energized;
}

#saveTopic {
  display: inline-block;
  width: 25%;
}

.not-saving {
  background-color: #555555 !important;
  color: #CCCCCC;
}

.saving {
  background-color: #1199EE !important;
}

#submitTopic {
  width: 73%;
}

/** PROFILE **/

.profile {
  color: black;
}
.name {
  float: top;
  font-size: 1.5em;
}
.stats {
  font-size: 0.9em;
}

.spinner svg {
  height: 1em;
  width: 1em;
}

.topic {
  text-align: center;
  font-size: $font-size-large;
}

#topic-text {
  font-size: $font-size-large;
  color: $lightest;
}

.topic-container {
  border-radius: 0px;
  .item {
    border-radius: 0px!important;
  }
}

/* rubber band animation by Daniel Eden - https://daneden.github.io/animate.css/ */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}
